
.wrapper-bg{
    background: url(/src/assets/main/main_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     /* 3. Центрируем картинку по горизонтали и вертикали */
    background-position: center center;
    margin-bottom: 136px;
}