.our-story {
margin-bottom: 138px;
    &__container {
        display: flex;
        justify-content: center;
        gap: 27px;
        align-items: flex-start;
        
        margin-right: -90px;

    }

    &__column-left {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    &__column-right {
        margin-right: 108px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 140px;
    }

    &__title {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 130%;
        margin-bottom: 13px;
    }

    &__text {
        font-size: 18px;
        line-height: 145%;
        margin-bottom: 33px;
        letter-spacing: 1px;
           max-width: 426px;
    }

}