.our-story {
    margin-bottom: 13.8rem;
    transform: translateY(0.2rem);

    &__container {
        display: flex;
        justify-content: center;
        max-width: 130rem;
        transform: translateX(3rem);
    }

    &__column-left {
        display: grid;
        grid-template-columns: repeat(3, 23.3rem);
        grid-template-rows: repeat(2, 23.3rem);
        transform: translate(-3.7rem, -0.4rem);
    }

    &__column-right {
        transform: translate(3.2rem, -0.3rem);
        padding-top: 13.8rem;
    }

    &__title {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 130%;
        margin-bottom: 1.3rem;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 145%;
        margin-bottom: 3.4rem;
        max-width: 38.8rem;
    }

    &__button {
        padding: 0.6rem 3.3rem 1rem 3.2rem;
    }

}

@media (max-width: 768px) {
    .our-story {
        margin-bottom: 6.1rem;

        &__container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            transform: none;
            padding: 0 1.5rem;
            gap: 4.8rem;
            width: 100%;
        }

        &__column-left {
            transform: none;
            flex-shrink: 0;
            margin-left: 3rem;
            margin-top: -2.5rem;

            div:nth-child(1),
            div:nth-child(4) {
                display: none;
            }

            /* Изменяем размеры сетки под планшет — уменьшаем ячейки картинок до 17.7rem */
            grid-template-columns: repeat(2, 17.7rem);
            grid-template-rows: repeat(2, 17.7rem);

            /* Гарантируем, что сами теги img внутри грида сожмутся под новые ячейки */
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;


            }
        }

        &__column-right {
            transform: none;
            padding-top: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            flex: 1;
            padding-bottom: 2.4rem;
        }

        &__title {
            margin-bottom: 1.2rem;
            font-family: 'Raleway';
            font-weight: 500;
            font-size: 3.2rem;
            width: 27.6rem;
        }

        &__text {
            margin-bottom: 4.5rem;
            max-width: 100%;
            font-size: 1.8rem;
            line-height: 145%;
        }

        &__button {
            font-weight: 500;
            font-size: 1.6rem;
            width: 17rem;
            height: 4.1rem;
            transform: translateY(-1.1rem);
        }
    }
}

@media (max-width: 320px) {
    .our-story {

        &__container {
            flex-direction: column;
        }
    }
}