.personal-care {
    margin-bottom: 14rem;

    &__container {
        display: flex;
        align-items: flex-start;
        position: relative;
    }

    &__background {
        flex-grow: 0; // Запрещает блоку растягиваться больше 670px
        flex-shrink: 0; // Запрещает блоку сжиматься меньше 670px
        flex-basis: 67rem; // Задает базовую ширину в 670px
        background: #F4F1ED;
        margin-left: 9.8rem;
        z-index: 1;
    }

    &__background-oils {
        background-image: url("../assets/personal-care/oils.jpg");
        width: 67rem;
        position: absolute;
        right: 9.8rem;
        height: 45.1rem;
        top: 6.6rem;
        z-index: 2;
    }

    &__context {
        max-width: 34.2rem;
        padding-top: 9.2rem;
        padding-bottom: 10rem;
        margin-left: 10rem;
    }

    &__title {
        margin-bottom: 2.6rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 1.3;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 1.45;
        max-width: 33.6rem;
        margin-bottom: 3.8rem;

        p:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}


@media (max-width: 768px) {
    .personal-care {
        margin-bottom: 12rem;

        &__container {
            align-items: center;
            position: static;
        }

        &__background {
            width: 100%;
            max-width: 67rem;
            margin-left: 4.5rem;
            transform: none;
            flex-basis: auto;
        }

        &__context {
            padding: 5rem 2rem;
            max-width: 38.2rem;
            margin-left: 4rem;
        }

        &__text {
            margin-bottom: 3.9rem;
        }

        &__button {
            margin-bottom: 1.1rem;
        }

        &__background-oils {
           background: url("../assets/personal-care/oils768.png") center / cover no-repeat;
            position: static;
            width: 100%;
            max-width: 39.8rem;
            height: 40.3rem;
            margin-top: 0;
            margin-left: -22.8rem; 
            transform: none;
        }
    }
}

