.promo {
    background: url(../assets/promo/banner-1.jpg) center / cover no-repeat;
    margin-bottom: 14rem;

    &__container {
        display: flex;
        justify-content: flex-end;
    }

    &__context {
        padding-top: 7.1rem;
        max-width: 29rem;
        margin-right: 27.9rem;
    }

    &__title {
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 125%;
        margin-bottom: 1.6rem;
    }

    &__text {
        font-size: 1.8rem;
        line-height: 145%;
        margin-bottom: 3.3rem;
    }

    &__button {
        margin-bottom: 8.1rem;
    }
}


@media (max-width: 768px) {
    .promo {
        margin-bottom: 12rem;
        height: auto;
        padding: 12rem 0;
        padding-top: 6.3rem;
        padding-bottom: 0;
        background-position: 60% center;

        &__container {
            justify-content: center;
            transform: none;
        }

        &__context {
            margin: 0 auto;
            padding: 1.7rem;
            max-width: 43%;
            margin-right: 5.6rem;
            padding-top: 2.4rem;
        }

        &__title {
            font-size: 3.2rem;
        }
    }
}