.catalog-bottom {


    margin-bottom: 126px;
    margin-right: 98px;
    display: flex;
    justify-content: flex-end;



    &__container {
        display: flex;
        justify-content: space-between;
        width: 632px;
    }

    &__pagination {
        display: flex;
        gap: 10px;
        align-items: center;

        &-one {
            font-weight: 500;
            font-size: 18px;
            line-height: 145%;

        }

        &-eight {
            font-weight: 500;
            font-size: 18px;
            line-height: 145%;
            color: #9A9DA0;
        }
    }

    &__hr {
        width: 50px;
        height: 1px;
        background-color: #122947;
        border: none;
        margin: 0;
    }

    &__nav {
        display: flex;
        gap: 32px;
    }
}

.viewed + .catalog-bottom {
    margin-bottom: 134px;

}