@use '../../mixins' as m;

.catalog {
    margin-top: 7px;
    margin-bottom: 49px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 36px;
        line-height: 130%;


    }

    &__button {
        @include m.button(5px 41px 11px)
    }
}