.catalog-bottom {
    margin-bottom: 12.6rem;
    margin-right: 9.8rem;
    display: flex;
    justify-content: flex-end;

    &-product {
        margin-bottom: 135px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        width: 63.2rem;
        margin-top: 0.1rem;
    }

    &__pagination {
        display: flex;
        gap: 1rem;
        align-items: center;

        &-one {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 145%;
        }

        &-eight {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 145%;
            color: #9A9DA0;
        }
    }

    &__hr {
        width: 5rem;
        height: 0.1rem;
        background-color: #122947;
        border: none;
        margin: 0;
    }

    &__nav {
        display: flex;
        gap: 3.2rem;
    }
}

.viewed+.catalog-bottom {
    margin-bottom: 13.4rem;
}

@media (max-width: 768px) {
    .catalog-bottom {
        justify-content: flex-end;
        margin-right: 0;
        margin-bottom: 10.5rem;
        padding: 0 4.5rem;

        &__container {
            align-items: center;
            gap: 20.9rem;
            justify-content: flex-end;
        }
    }

    .viewed+.catalog-bottom {
    margin-bottom: 11.2rem;
}

}

@media (max-width: 320px) {
    .catalog-bottom {
        margin-bottom: 6.4rem;
        padding: 0 1.2rem;

        &__container {
            gap: 14.9rem;
        }

        &__pagination {
            gap: 0.5rem;
        }

        &__hr {
            width: 3rem;
        }

        &__nav {
            gap: 3rem;
        }
    }
}